.code-snippets-editor {
  &-snippet {
    $paddingBottom: 0.3em;

    &__top {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: $paddingBottom;
    }
    &__desc {
      padding-bottom: $paddingBottom;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 24px;
      vscode-text-field {
        width: 100%;
      }
    }
    &__body {
      padding-bottom: $paddingBottom;
      &__content {
        color: var(--vscode-textPreformat-foreground);
        overflow: auto;
      }
      pre {
        margin: 8px 0 0;
      }
      vscode-text-area {
        width: 100%;
      }
    }
  }

  &-top-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    &__item {
      margin-right: 1em;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-operation {
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  &-label {
    font-weight: 700;
  }
}
