.code-snippets-editor {
  padding-bottom: calc(100vh - 6em);

  --code-snippets-editor-snippet-item-background: var(
    --vscode-editor-background
  );

  &-snippets {
    padding: 0;
    list-style: none;

    &__item {
      padding: 1rem;
      background-color: var(--code-snippets-editor-snippet-item-background);

      &:nth-child(odd) {
        --code-snippets-editor-snippet-item-background: hsla(0,0%,51%,.04);
      }

      &:hover {
        --code-snippets-editor-snippet-item-background: var(
          --vscode-list-hoverBackground
        );
      }
    }
  }
}
