name: Publish
on:
  release:
    types: [created]
  push:
    branches:
      - "releases/**"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn install
      - name: Compile
        run: |
          yarn run compile
          yarn run compile-web
      - name: Test
        run: |
          xvfb-run -a yarn run test
          yarn run test-web
      - name: Publish
        run: npx vsce publish --yarn
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
